.header {
  height: $heigh-header;
  vertical-align: middle;
  width: 100%;
  position: relative;
  display: inline-block;
  background: $color-white;
  box-shadow: inset 0px -1px 0px $color-dark-functional-300;
  z-index: 5;

  .container-header {
    position: relative;
    display: flex;

    .header-burger {
      margin: 25px 60px;

      span.title-page {
        position: relative;
        margin-left: 20px;
        width: 145px;
        height: 40px;
        font-family: Nelphim;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 40px;
        align-items: center;
        color: $color-red-primary-500;
      }

      .icon-burger {
        display: inline-block;
        position: relative;
        top: -15px;

        .show-modal-panel-header {
          display: none;
          position: fixed;
          background-color: $color-white;
          z-index: 6;
          width: 200px;
          height: 100%;
          top: 0;
          left: 0;
          text-align: center;
          padding: 25px 20px 0 20px;

          .title-page-div {
            margin-bottom: 39px;
          }

          .header-menu {
            text-align: left;
            margin-bottom: 20px;

            .menu-left:hover {
              color: $color-red-primary-500 !important;
            }

            span {
              /* Body text | Text 400 | 14px | 22px */
              font-family: Mulish;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              align-items: center;
              color: $color-dark-functional-600;
              position: relative;
              bottom: 6px;
              display: inline-block;
            }

            .name-account {
              font-family: Mulish;
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 21px;
              color: $color-dark-functional-400;
              margin-left: 29px;
            }
          }

          .button-auth {
            display: block;
            position: absolute;
            bottom: 50px;
            text-align: center;
            left: 40px;

            button {
              cursor: pointer;
              width: 160px;
              height: 40px;
              border-radius: 20px;
            }

            .button-login:hover {
              background: $color-red-primary-600;
            }

            .button-login {
              background: $color-red-primary-500;
              color: $color-white;
              border: none;
            }

            .button-logout {
              border: 1px solid $color-red-primary-500;
              background: $color-white;
              color: $color-red-primary-500;
            }

            .button-logout:hover {
              border: 1px solid $color-red-primary-600;
              color: $color-red-primary-600;
            }
          }
        }

        .show-modal {
          animation-name: show-modal;
          animation-duration: 0.5s;
          display: block;
        }

        .hide-modal {
          animation-name: hide-modal;
          animation-duration: 0.5s;
        }
      }
    }

    .input-search-header {
      width: calc(100% - 652px);
      min-width: 400px;

      .icon-left-search {
        margin: 25px 0 25px 38px;

        img {
          position: absolute;
          margin: 8px 18px;
        }

        .input-search {
          width: 100%;
          height: 40px;
          border: 1px solid $color-dark-functional-300;
          box-sizing: border-box;
          border-radius: 4px;
          text-indent: 48px;
          outline: none;
        }
      }
    }

    .cart-header {
      .icon-cart {
        position: relative;
        display: flex;
        margin: 33px 0 33px 118px;
      }

      .count-cart {
        position: absolute;
        margin-left: 10px;
        top: -6px;
        background-color: $color-red-primary-500;
        border-radius: 8px;
        font-family: Mulish;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: $color-white;
        padding-left: 2px;
        padding-right: 2px;
        left: 12px;
      }

      .name-cart {
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 10px;
      }
    }
  }
}

input:focus-visible, input:focus, .focus-visible {
  outline: none;
  border-color: $color-red-primary-500 !important;
}

a {
  text-decoration: none;
  font-family: Mulish;
  color: $color-dark-functional-600;
}

.label-active {
  color: $color-red-primary-500 !important;
}

.menu-header {
  background-color: $color-white;
}

.list-menu-header {
  position: relative;
  max-width: 1280px;
  padding: 0 100px;
  margin: auto;
  z-index: 4;
  background-color: $color-white;

  .list_menu_child {
    padding: 10px 0;

    .div-menu-slick {
    }

    .menu-slick {
      cursor: pointer;
      text-align: center;
      min-width: 118px;
      min-height: 30px;

      span {
        position: relative;
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }

  .slick-slide {
    text-align: center;
  }

  .menu-slick:hover {
    color: $color-red-primary-500;
    font-weight: 400;
    background: $color-red-primary;
    border-radius: 15px;

    span {
      color: $color-red-primary-500;
    }
  }

  .slick-prev,
  .slick-next {
    width: 24px;
    height: 24px;
    top: 25px;
  }

  .slick-prev::before {
    width: 24px;
    height: 24px;
    display: inline-block;
    color: unset;
    background: url(/assets/images/icons/arrow-down-prev.svg) center no-repeat;
    left: 34px;
    position: relative;
  }

  .slick-next::before {
    width: 24px;
    height: 24px;
    display: inline-block;
    color: unset;
    background: url(/assets/images/icons/arrow-down-next.svg) center no-repeat;
    right: 34px;
    position: relative;
  }

  .slick-list {
    max-width: 996px;
    min-width: 996px;
    margin: auto !important;
  }

  .list-child-menu {
    position: absolute;
    background: $color-white;
    z-index: 4;
    max-width: 964px;
    min-width: 964px;
    margin: auto;
    left: calc(50% - 502px);
    padding: 20px;

    .child_first {
      cursor: pointer;
      font-family: Mulish;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: $color-dark-functional-600;
      margin-bottom: 12px;
      position: relative;
      display: inline-block;
    }

    .list_child_first {
      margin-bottom: 4px;
    }

    .list_child_second {
      .child_second {
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 200px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 12px;
        color: $color-dark-functional-500;
      }

      .child_second:hover {
        color: $color-red-primary-500;
      }
    }
  }
}

.modal-default {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 100px;
  right: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(123, 135, 153, .5);
  z-index: 5;

  h3 {
    margin: 0 !important;
  }
}

.modal-default-content {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 100px;
  right: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(123, 135, 153, .5);
  z-index: 3;
}

.modal-content {
  background: $color-white;
  opacity: 1;
  //transform: translateX(10%);
  margin: 0 auto 24px !important;
  z-index: 999;
  padding: 22px 24px 24px 24px !important;
  border-radius: 8px;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.2s ease;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
  text-align: center;
}

.modal-header {
  position: relative;
  /*border-bottom: 1px solid #eeeeee;*/
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  position: relative;
  padding: 10px 24px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  //padding: 10px;
  cursor: pointer;
  background: transparent;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: $color-white;
  position: relative;

  a {
    text-decoration: none;
  }

  .container-footer {
    position: relative;
    display: flex;
    padding: 24px 0 8px 138px;

    .footer-left {
      max-width: 160px;
      width: 160px;
    }

    span.title-page {
      width: 145px;
      height: 40px;
      font-family: Nelphim;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      align-items: center;
      margin-bottom: 16px;
      position: relative;
      display: inline-block;
      color: $color-red-primary-500;
    }

    .menu_item_footer:hover {
      color: $color-red-primary-500;
    }

    .menu_item_footer {
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 12px;
      position: relative;
      display: inline-block;
      color: $color-dark-functional-600;
    }

    .footer-right {
      width: calc(100% - 295px);
      padding-left: 134px;

      .title_product_footer {
        margin-top: 20px;
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        color: $color-dark-functional-600;
      }

      .list_product_footer {
        position: relative;

        .product_item_footer {
          position: relative;
          display: inline-block;
          width: 200px;
          margin-bottom: 12px;

          .product_item {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $color-dark-functional-500;
          }

          a:hover span {
            color: $color-red-primary-500;
          }
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;
    position: relative;
    display: block;
    height: 46px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    border-top: 1px solid $color-dark-functional-300;
    color: $color-dark-functional-600;

    span {
      position: relative;
      display: inline-block;
      margin-bottom: 13px;
      margin-top: 12px;
    }
  }
}

.el-form-item__content {
  margin-left: 0 !important;
}

.show-pwd {
  position: absolute;
  top: 8px;
  right: 8px;

  img {
    opacity: 0.5;
  }
}

.my_account {
  background-color: $color-background-default;
  padding: 40px 60px;

  input:focus-visible, .focus-visible {
    outline: none;
    border: 1px solid $color-red-primary-500;
  }

  .title_my_account {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .my_account_content {
    width: 100%;
    position: relative;
    display: inline-block;

    .change_avatar {
      position: relative;
      display: inline-block;
      width: 173px;
      text-align: center;
      vertical-align: top;
      padding: 56px 71px 0 51px;

      .show_image {
        position: relative;
        display: inline-block;
        width: 100%;

        img {
          width: 60px;
          height: 60px;
          border-radius: 30px;
        }
      }

      .button_upload_image {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-top: 15px;
        margin-bottom: 24px;

        button {
          background: $color-white;
          border: 1px solid $color-dark-functional-200;
          box-sizing: border-box;
          border-radius: 4px;
          position: relative;
          display: inline-block;
          width: 119px;
          height: 32px;
        }

      }

      .image_note {
        position: relative;
        display: inline-block;
        width: 100%;

        span {
          font-weight: 500;
          font-size: 13px;
          line-height: 21px;

          display: flex;
          align-items: center;
          text-align: center;
        }
      }

      .img-preview {
        text-align: center;
      }
    }

    .change_information {
      display: inline-block;
      min-width: calc(100% - 574px);
      padding-top: 24px;

      .form_list_input {
        display: bli;

        .el-form-item {
          height: 100% !important;
        }
      }

      .form_input {
        display: flex;

        .label_input {
          min-width: 175px;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          padding-top: 9px;
        }

        .el-form-item, .select-form-input {
          width: 394px;
          height: 40px;
        }

        .input-date-select {
          width: 118px;
        }

        .month-select {
          margin: 0 16px;
        }
      }

      .form_select {
        margin-bottom: 24px;
      }

      .button_change_password {
        color: $color-red-primary-500;
        font-weight: 500 !important;
        font-size: 14px;
        line-height: 22px;
        text-decoration-line: underline;
        cursor: pointer;
        margin-bottom: 33px;
      }

      .el-button {
        padding: 12px 20px;
      }
    }
  }
}

.home {
  background-color: $color-background-default;
  padding: 0 60px !important;
  max-width: 1180px;
  margin: auto;
  min-height: calc(100vh - 587px);

  img {
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }

  .el-button--danger:hover {
    background-color: $color-red-primary-600;
    border-color: $color-red-primary-600;
  }
}

.home_background {
  background-color: $color-white;
}

.home_service {
  padding: 0 60px;
  max-width: 1280px;
  margin: auto;
}

.slide_show {
  display: flex;
  height: 360px;
  max-height: 360px;

  img {
    object-fit: cover;
    border-radius: 8px;
  }

  .slide_left {
    display: inline-block;
    width: 59.051%;
    height: 360px;
    max-height: 360px;

    img {
      width: calc(100% + 1px);
      min-height: 360px;
      max-height: 360px;
    }

    .slick-prev::before {
      background: url(/assets/images/icons/arrow_prev_slide.svg) center no-repeat;
      width: 36px;
      height: 36px;
      font-size: 40px;
      color: unset;
      position: relative;
      left: 0;
    }

    .slick-next::before {
      background: url(/assets/images/icons/arrow_next_slide.svg) center no-repeat;
      width: 36px;
      height: 36px;
      font-size: 40px;
      color: unset;
      position: relative;
      right: 6px;
    }

    .slick-arrow {
      width: 36px;
      height: 36px;
      z-index: 2;
    }

    .slick-prev {
      left: 12px;
    }

    .slick-next {
      right: 12px;
    }

    .slide_child {
      border-radius: 8px;

      img {
        border-radius: 8px;
      }
    }

    .slick-dots {
      bottom: 12px;
    }

    .slick-dots li button:before {
      color: $color-slide-out;
      font-size: 16px;
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
      font-size: 16px;
      color: $color-white
    }

    .slick-list {
      border-radius: 8px;
      width: 668px;
    }
  }

  .slide_right {
    display: inline-block;
    width: 40.6897%;
    margin-left: 20px;
    max-height: 360px;

    img {
      min-height: 170px;
      max-height: 170px;
      width: 100%;
    }

    .slide_right_top {
      min-height: 170px;
      margin-bottom: 16px;
    }

    .slide_right_bottom {
      min-height: 170px;
      max-height: 170px;
    }
  }
}

.store_hot {
  .store_hot_title {
    margin: 40px 0 32px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;
  }

  .store_hot_content {
    display: flex;
    position: relative;
    justify-content: space-between;

    .store_item {
      width: 177px;
      height: 177px;
      border-radius: 8px;
      cursor: pointer;

      img {
        width: 177px;
        height: 177px;
        border-radius: 8px;
      }

      .store_title {
        position: absolute;
        bottom: 0;
        height: 36px;
        width: 177px;
        background-color: $color-dark-functional-600;
        border-radius: 0px 0px 8px 8px;
        align-items: center;
        text-align: center;
        padding-top: 12px;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $color-white;
        }
      }
    }
  }
}

.category_hot {
  .category_hot_title {
    margin: 70px 0 32px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;
  }

  .category_hot_content {
    align-items: center;
    justify-content: center;

    .category_item {
      padding: 39px;
      padding-left: 41.5px;

      .category_image {
        cursor: pointer;
        margin: auto;
        display: flex;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: $color-white;
        vertical-align: middle;
        text-align: center;

        img {
          width: 85px;
          height: 85px;
          display: block;
          margin: auto;
        }
      }

      .category_title {
        cursor: pointer;
        margin-top: 24px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 100%;
        position: relative;
        display: inline-block;

        span {
          white-space: nowrap;
          text-transform: uppercase;
        }
      }
    }

    .slick-prev::before {
      background: url(/assets/images/icons/arrow_prev_slide.svg) center no-repeat;
      width: 36px;
      height: 36px;
      font-size: 40px;
      color: unset;
    }

    .slick-next::before {
      background: url(/assets/images/icons/arrow_next_slide.svg) center no-repeat;
      width: 36px;
      height: 36px;
      font-size: 40px;
      color: unset;
    }

    .slick-track {
      left: -43px;
    }
  }
}

.product_daily {
  .product_daily_title {
    margin: 70px 0 32px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;
  }

  .product_daily_content {
    margin-right: -20px;
    position: relative;
    width: calc(100% + 30px);
    display: inline-block;
  }

  .load_more {
    text-align: center;

    button {
      width: 180px;
      height: 40px;
      position: relative;
      left: -10px;
    }
  }
}

.el-button--danger {
  color: $color-red-primary-500;
  border-color: $color-red-primary-500;
}

.el-button--danger.is-plain {
  background-color: $color-white;
}

.el-button--danger.is-plain:hover, .el-button--danger.is-plain:focus {
  color: $color-red-primary-600;
  border-color: $color-red-primary-600;
  background-color: $color-white;
}

.el-button--danger.is-plain {
  color: $color-red-primary-500;
  border-color: $color-red-primary-500;
  background-color: $color-white;
}

.last_seen {
  .last_seen_title {
    margin: 70px 0 32px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;
  }

  .last_seen_content {
    align-items: center;
    justify-content: center;

    .slick-prev::before {
      background: url(/assets/images/icons/arrow_prev_slide.svg) center no-repeat;
      width: 36px;
      height: 36px;
      font-size: 40px;
      position: absolute;
      left: -25px;
      color: unset;
    }

    .slick-next::before {
      background: url(/assets/images/icons/arrow_next_slide.svg) center no-repeat;
      width: 36px;
      height: 36px;
      font-size: 40px;
      position: absolute;
      right: -25px;
      color: unset;
    }

    .slick-track {
      left: -10px;
      display: flex;
    }

    .slick-active {
      margin-right: 2.8px;
    }
  }
}

.service_common {
  background-color: $color-white;
  width: 100%;
  padding: 50px 60px;
  margin-left: -60px;
  margin-top: -8px;

  .service_common_content {
    display: flex;
    position: relative;
    justify-content: space-between;

    .service_item {
      text-align: center;
      width: 240px;
      border-radius: 8px;
      cursor: pointer;

      .service_title {
        bottom: 0;
        align-items: center;
        padding-top: 12px;
        width: 190px;
        margin-left: 25px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 8px;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .service_detail {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.register_common {
  width: 100%;
  padding: 50px 60px;
  margin-left: -60px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;

  .register_common_title {
    display: inline-block;
    text-align: left;
    margin: 0 98px 0 139px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 373px;
  }

  .register_common_content {
    display: inline-block;
    position: relative;
    justify-content: space-between;

    .input-search .el-input {
      width: 357px;
      outline: none;

      input {
        width: 357px;
        outline: none;
        height: 48px;
        padding: 13px 16px;
        border: 1px solid $color-dark-functional-300;
        border-radius: 4px 0px 0px 4px;
      }
    }

    input:focus-visible, .focus-visible {
      outline: none;
      border: 1px solid $color-red-primary-500;
    }

    button {
      cursor: pointer;
      background-color: $color-dark-functional-600;
      height: 48px;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: $color-white;
      outline: none;
      border: 1px solid $color-dark-functional-600;
      margin-left: -5px;
      padding: 12px 21px 13px 23px;
      position: relative;
      border-radius: 0 4px 4px 0;
    }
  }
}

.category_detail {
  background-color: $color-background-default;
  margin: -4px -10px 0 -10px;

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }

  .category_detail_header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    .category_child {
      width: calc(100% + 30px);
    }

    .category_title {
      margin: 0 10px 27px 10px;
    }

    .category_list_child {
      .category_detail_title {
        margin-left: 10px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
        position: relative;
        display: inline-block;
        word-break: break-all;
      }

      .child_item {
        border-radius: 8px;
        cursor: pointer;
        margin: 0 4px 24px 10px;
        display: inline-block;
        width: 376px;
        height: 110px;
        background-color: $color-white;

        .child_image {
          height: 110px;
          margin-left: 40px;
          display: inline-block;
        }

        .child_name {
          margin: 43px 0 43px 40px;
          vertical-align: middle;
          height: 110px;
          display: inline-block;
        }
      }
    }
  }

  .category_detail_content {
    margin: 0 10px;
  }
}

.title_middle {
  border: 1px solid $color-dark-functional-100;
  margin-right: 15px;
  margin-left: 10px;
  background: $color-dark-functional-100;
}

.pagination_common {
  text-align: center;
  display: inline-block;
  width: 100%;
  ul {
    list-style-type: none;
  }
  .button_prev {
    transform: rotate(180deg);
  }
  .page-item {
    margin: 14px;
    img, span {
      cursor: pointer;
    }
  }
  .icon-next {
    background: url(/assets/images/arrow_next.svg) center no-repeat;
    width: 7px;
    height: 12px;
    display: inline-block;
  }
  .icon-next:hover {
    background: url(/assets/images/arrow_next_active.svg) center no-repeat;
  }
  .active span {
    color: $color-red-primary-500;
  }
  .page-item.disable {
    opacity: 0.1;
    .icon-next {
      background: url(/assets/images/arrow_next.svg) center no-repeat;
    }
  }

  .page_more {
    span {
      position: relative;
      display: inline-block;
      bottom: -14px;
    }
  }
}

.pagination {
  justify-content: center;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.d-inline-block {
  display: inline-block;
}

.product_not_found {
  width: 100% !important;

  .no_result {
    height: 244px;
    text-align: center;
    vertical-align: center;
    width: 100%;
    padding-top: 60px;

    span {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

/* Style cho notification element ui */
.notification-element {
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid $color-dark-functional;
  font-size: 12px;
  line-height: 20px;
  padding: 17px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 2099;

  &__before-icon {
    color: $color-white;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    display: block;
    line-height: 17px;
    text-align: center;
  }
}

.notification-element--success {
  background: $color-green-functional-500;
  border: 1px solid $color-green-functional;
  color: $color-green-functional;

  &__before-icon {
    background: $color-green-functional;
  }

  &__close-icon {
    cursor: pointer;
    margin-left: auto;
    background: url("/assets/images/notifications/close_success.svg") center center no-repeat;
    width: 24px;
    height: 24px;
  }
}

.input-default-none-icon {
  input {
    padding: 10px 30px 10px 16px !important;
  }
}

.notification-element--danger {
  background: $color-red-primary;
  border: 1px solid $color-red-primary-500;
  color: $color-red-primary-500;

  &__before-icon {
    background: $color-red-primary-500;
  }

  &__close-icon {
    cursor: pointer;
    margin-left: auto;
    background: url("/assets/images/notifications/close_error.svg") center center no-repeat;
    width: 24px;
    height: 24px;
  }
}

.notification-element--warning {
  background: $color-yellow-functional;
  color: $color-yellow-functional-500;
  border: 1px solid $color-yellow-functional-500;

  &__before-icon {
    background: $color-yellow-functional-500;
  }

  &__close-icon {
    cursor: pointer;
    margin-left: auto;
    background: url("/assets/images/notifications/close_warning.svg") center center no-repeat;
    width: 24px;
    height: 24px;
  }
}

.el-select-dropdown__item.selected {
  color: $color-black;
  font-weight: 500;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: $color-dark-functional-300;
}

.form_birthday {
  .el-form-item {
    margin-bottom: 0;
  }
}

.menu-header-list {
  background-color: $color-white;
  width: 100%;
  position: relative;
  z-index: 4;
}

.un_follow {
  position: relative;
  top: -3px;

  .button_text {
    top: 0 !important;
  }
}
